.featured h2 {
    text-align: center;
}
.featured-item{
    margin-top: 50px;
     
}
.feature_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.feature__swiper{
    background: linear-gradient(var(--color-bg), transparent);
    width: 75%;
    height: 60rem;
    position: absolute;
    margin-top: 4rem;
    border-radius:  30px 30px 30px 30px;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}
@media screen and (max-width: 1024px) {
    .feature__swiper{
        width: 90%;
        height: 65%;
        align-content: center;
        align-self: center;

    }
    .feature_img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}
/*  MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
    .featured{
       

    }

    .feature__swiper{
        width: 90%;
        height: 50%;

    }

}