header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;

}
.sign__word{
    color: #c6e2ff;
    animation: neon .08s ease-in-out infinite alternate;
}
@keyframes neon {
    from {
      text-shadow:
      0 0 6px rgba(202,228,225,0.92),
      0 0 30px rgba(202,228,225,0.34),
      0 0 12px rgba(30,132,242,0.52),
      0 0 21px rgba(30,132,242,0.92),
      0 0 34px rgba(30,132,242,0.78),
      0 0 54px rgba(30,132,242,0.92);
    }
    to {
      text-shadow:
      0 0 6px rgba(202,228,225,0.98),
      0 0 30px rgba(202,228,225,0.42),
      0 0 12px rgba(30,132,242,0.58),
      0 0 22px rgba(30,132,242,0.84),
      0 0 38px rgba(30,132,242,0.88),
      0 0 60px rgba(30,132,242,1);
    }
  }
  
  
 
  .link {
      position: absolute;
      bottom: 10px; left: 10px;
      color: #828282;
      text-decoration: none;
      
      &:focus,
      &:hover {
      color: #c6e2ff;
          text-shadow: 
      0 0 2px rgba(202,228,225,0.92),
      0 0 10px rgba(202,228,225,0.34),
      0 0 4px rgba(30,132,242,0.52),
      0 0 7px rgba(30,132,242,0.92),
      0 0 11px rgba(30,132,242,0.78),
      0 0 16px rgba(30,132,242,0.92);
      }
    
    }